// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "./partials/variables";

// Main
@import "./partials/main";

// Footer
@import "./partials/footer";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    background: linear-gradient(#e66465, #9198e5);
    color: #f0f0f0;
}

hr {
    margin: 0;
    border-top: 1px solid #000;
}
