// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.css";

body,
.grey-todo {
    background-color: #d5d5d5;
}

.white-todo {
    background-color: #f0f0f0;
}

hr {
    margin: 0;
    border-top: 1px solid #000;
}

i {
    cursor: pointer;
    font-size: 20px;
}
