.white-todo {
    background-color: #f0f0f0;
}

.purple-todo {
    background-color: #a18ecc;
    color: #f0f0f0;
}

h1 {
    color: #f0f0f0;
}

.todo-box {
    height: 100px;

    .todo-title,
    input {
        line-height: 2;
        font-size: 17px;
        padding: 3px 5px;
    }

    .todo-title {
        border: 1px solid transparent;
    }
    
    input {
        border: 1px solid #000;
    }

    i {
        cursor: pointer;
        font-size: 20px;
    }

    .edit-mode {
        color: orange;
    }
}
